.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.signup-form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names-input {
    display: flex;
    gap: 5px;
}

.sign-up-input {
    border: none;
    border-radius: 7px;
    display: block;
    height: 40px;
    outline: none;
    width: calc(100% - 24px) ;
    margin: auto;
    padding: 6px 12px 6px 12px;
}